{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="listing-card-entry">
        <div class="header">
            <h2>Listing: {{ listing.title }}</h2>
            {% if user == listing.user and user.is_authenticated and listing.active_status %}
                <form action="{% url 'make_unactive' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="btn btn-danger" type="submit" value="Make Unactive">
                    </div>
                </form>
            {% elif user != listing.user and user.is_authenticated and listing.active_status %}
                {% if not is_watchlist %}
                    <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Add to watchlist">
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="image-listing">
            <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
        </div>
        {% if listing.description %}
            <h3> {{ listing.description }}</h3>
        {% endif %}
        <h3> ${{ listing.starting_bid }}</h3>
        <h5>{{ listing_bids | length }} bid(s) so far.
        {% if is_current_user_highest_bid %}
            Your bid is the current highest bid.
        {% endif %}
        </h5>
        <h5>Highest bid: ${{ highest_bid }}</h5>
        {% if message %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% if user.is_authenticated and listing.active_status and user != listing.user %}
            <form action="{% url 'listing_item' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="mb-3">
                        <input autofocus class="form-control" type="number" min={{ highest_bid }} step="any" name="bid_amount" placeholder="Bid">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </div>
            </form>
        {% endif %}
        <div class="detail-listing">
            <h2>Details</h2>
            <ul>
                <li>Listed by: {{ listing.user.username }}</li>
                <li>Category: 
                {% if listing.category == None %}
                    No Category Listed
                {% else %}
                    {{ listing.category.name }}
                {% endif %}
                </li>   
            </ul>
        </div>
    </div>
{% endblock body %}